.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.object-container {
  position: relative;
}

.object-border {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.object-border.selected {
  border: 2px solid blue;
}

.rectangle {
  border: 1px solid black;
  position: absolute;
}

.rectangle.selected {
  border: 2px solid blue;
}

.textbox {
    border: 1px solid black;
    position: absolute;
}
.textbox.selected {
  border: 2px solid blue;
}
.toolbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgray;
  padding: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
}
